/* Title: additem.html Styles
	By:Jasmine Sloan
	Week 2 Assignment-VFW
	Date: 05/04/2012;
*/

body{
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.6, rgb(0,0,0)),
		color-stop(1, rgb(209,30,44))

	);
}
img{
	margin: 0px 0px 0px 40px;
	background-position: top left;
	background-repeat: no-repeat
	padding-left: 40px;
}

nav{
	margin-bottom:20px;
}

/*h1{
	font-family: "Century Schoolbook", Helvetica, sans-serif;
	font: 28px;
	color: #000;
	margin: 20px 20px 20px 30px;
	font-weight: bold;
} */
/* img{
	background-repeat: no-repeat;
	background-image: url(/Users/Jasmine/Pictures/ssdjlogolongway.gif);
	background-position: top left;	
	text-decoration: none;
} */
fieldset{
	border-right: 1px solid #666;
	border-top-right-width:1px;
	border-left-width: 1px;
	margin: 0px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}
legend{
	font-family: "Century Schoolbook", Helvetica, sans-serif;
	font: 28px;
	color: #FFF;
	font-weight: bold;

}
label{
	font-family: "Century Schoolbook", Helvetica, sans-serif;
	font: 20px;
	color: #FFF;
	display: block;
	}
li{
	font-family: "Century Schoolbook", Helvetica, sans-serif;
	font: 12px;
	color: #FFF;
}
a{
	font-family: "Century Schoolbook", Helvetica, sans-serif;
	font: 12px;
	color: #FF7F24;
	font-style: italic;
}
p{
	font-family: "Century Schoolbook", Helvetica, sans-serif;
	font: 12px;
	color: #FFF;
}
h2{
	font-family: "Century Schoolbook", Helvetica, sans-serif;
	font: 12px;
	color: #FFF;
}

